{% extends 'store/base.html' %}

{% block title %}Change you password{% endblock %}

{% block content %}
<div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
    <h1 class="mb-6 text-3xl">Change you password</h1>    
    <p>Use the form below to change your password.</p>
    
    <form method="post" action=".">
        {% csrf_token %}

        <div class="mb-3">
            <label class="inline-block mb-2">Old Password</label><br>
            {{ form.old_password }}
        </div>
        
        <div class="mb-3">
            <label class="inline-block mb-2">New Password</label><br>
            {{ form.new_password1 }}
        </div>

        <div class="mb-3">
            <label class="inline-block mb-2">New password confirmation</label><br>
            {{ form.new_password2 }}
        </div>
        <button class="py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Change</button>
    </form>
</div>
{% endblock %}