{% extends 'store/base.html' %}

{% block title %}Delete message{% endblock %}


{% block content %}
<h1 class="mb-6 text-3xl">New communication</h1>
<div class="col-span-2 p-6 bg-gray-100 rounded-xl">
    <p class="text-gray-500">
        <strong>{{ things.created_by.first_name }} phone number: </strong>{{ profile.phone_number }}</p>
</div>

<form method="post" action=".">
    {% csrf_token %}
    <div class="col-span-2 p-6 bg-gray-100 rounded-xl">
        <p class="text-gray-500">Do you want to delete your post?</p>
    </div>
    <h5>{{ message.content }}</h5>
    <div class="space-y-4">
        {{ form.as_p }}
    </div>
    {% if form.errors or form.non_field_errors %}
        <div class="mb-3 p-6 bg-red-100 rounded-xl">
            {% for field in form %}
                {{ field.errors }}
            {% endfor %}
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    <button class="mt-6 py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Yes, delete!</button>
</form>

{% endblock %}</h1>
