{% extends 'store/base.html' %}

{% block title %}Communication{% endblock %}

{% block content %}
<h1 class="mb-6 text-3xl">Communication</h1>

<div class="space-y-6">
    {% for message in communication.messages.all %}
        <div class="p-6 flex {% if message.created_by == request.user %}bg-blue-100{% else %}bg-gray-100{% endif %} rounded-xl">
            <div>
                <p class="mb-4"><strong>{{ message.created_by.username }}</strong> @ {{ message.created_at }}</p>
                <p>{{ message.content }}</p>
                <div>
                    {% if user == message.created_by %}
                    <button class="py-1 px-3 text-lg bg-yellow-500 hover:bg-yellow-700 rounded-xl text-white"><a href="{% url 'communication:edit' message.id %}">Update</a></button> 
                    <button class="py-1 px-3 text-lg bg-red-500 hover:bg-red-700 rounded-xl text-white"><a href="{% url 'communication:delete' message.id %}">Delete</a></button>
                    
                    {% endif %}      
            </div>
            </div>
            </div>

    {% endfor %}
</div>

<form method="post" action="." class="mt-6">
    {% csrf_token %}

    {{ form.as_p }}

    <button class="py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Send</button>
</form>
{% endblock %}