{% extends 'store/base.html' %}

{% block title %}My inbox{% endblock %}

{% block content %}
<h1 class="mb-6 text-3xl">My inbox</h1>

<div class="space-y-6">
    {% for communication in communications %}
        <a href="{% url 'communication:detail' communication.id %}">
            <div class="p-6 flex bg-gray-100 rounded-xl">
                <div class="pr-6">
                    <img src="{{ communication.things.image.url }}" class="w-20 rounded-xl">
                </div>

                <div>
                    {% for member in communication.members.all %}
                        {% if member != request.user %}
                            <p class="mb-4"><strong>{{ member.username }}</strong> | {{ communication.modified_at }}</p>
                            <p>{{ communication.things.name }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}